-#Begin Header
.row.header.no-margin
  .span5.logo
    = link_to image_tag('1uf8_logo.png', class: 'logo'), root_path

  .span7.navigation
    .navbar.hidden_phone
      %ul.nav
        %li.active
          = link_to 'Home', root_path
        %li= link_to 'About Us', aboutus_path
        %li= link_to 'Portfolio', "#"
        %li= link_to 'Contact', "#"
-#End Header
